.createCard{
    display: flex;
    flex-direction: column;
    justify-self: center;
    background-color: #f7f7f7;
}

.createCardHeader{
    display: flex;
    background-color:#5B0888;
    width: 100vw;
    height: 10vh;
    justify-content: center;
    font-family: sans-serif;
    align-items: center;
    position: relative;
    color: white;
}

.saveCardBtn{
width: 20vw;
position: absolute;
right: 0rem;
height: 100%;
box-sizing: border-box;
background-color: transparent;
border: none;
font-weight: bolder;
font-size: 1.25rem;
color: rgb(50, 255, 50);
transition: 0.125s ease-in-out;
}
.saveCardBtn:active{
    opacity: 0.5;
}


.createCardNav{
    background-color: transparent;
    background-color: #E5CFF7;
    width: 90vw;
    align-self: center;
    margin: 1rem;
    border: 1px solid  #5B0888;
    border-radius: 32px;
    height:6vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.createCardNav > button {
    flex:1;
    height: 100%;
    background-color: transparent;
    border: none;
    border-radius: 32px;
    font-size: 1.25rem;
    font-family: sans-serif;
    font-weight: bolder;
    color: #000000;
}
.createCardNav > button.active {
    background-color:  #5B0888;
    color: #f7f7f7;
}










form{

    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;

}

form > label{
display: flex;
flex-direction: column;
margin: 0.5rem;
}


.saveCard{
    width: 50%;
    align-self: center;
    margin: 1rem;
}

.picture {
    width: 50vw;
}